body {
    font-family: sans-serif;
    font-size: 24px;
    margin: 0;
    color: white;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.smhandles {
    font-size: 22px;
    color: #FF3200;
    padding: 5px 22px;
}

#main-image {
    position: relative;
    z-index: 1;
}

#dot-grid {
    background-image: radial-gradient(circle at 2px 2px, rgba(255, 255, 255, 0.5) 2px, transparent 0);
    background-size: 15px 15px;
    border-radius: 1px;
    color: white;
    width: 135px;
    height: 216px;
    position: absolute;
    top: -9px;
    left: -9px;
    z-index: -1;
}

#diagonal-lines {
    background: repeating-linear-gradient(
        -50deg,
        transparent 0 12px,
        rgba(255, 200, 0, 0.45) 12px 14px
    );
    width: 155px;
    height: 48px;
    position: absolute;
    top: 265px;
    left: 162px;
    z-index: -1;
}